---
import { Image } from "astro:assets";
import Base from "../../layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getCollection } from "astro:content";

// Set the language to "zh" explicitly
const language = "zh";

// Fetch all entries for the "about" collection
const allEntries = await getCollection("about");

// Fetch the content for the Chinese language
const entry = allEntries.find((e) => e.slug === "indexzh");

if (!entry) {
  throw new Error("Chinese content not found");
}

const { Content } = await entry.render();
const { title, description, meta_title, image, what_i_do } = entry.data;

// Base path for images
const basePath = "/tongxin-website/";
---

<Base title={title} meta_title={meta_title} description={description} image={image}>
  <section class="section">
    <div class="container">
      <div class="row md:gx-4">
        <div class="col-12">
          {image && (
            <div class="img-cover mb-8 mt-0 text-center">
              <Image
                src={`${basePath}${image.replace(/^\//, '')}`}
                width={800}
                height={400}
                alt={title || "Descriptive text for the image"}
                class="rounded-lg w-full max-w-[800px] mx-auto"
              />
            </div>
          )}
        </div>
        <div class="col-12">
          <h1
            set:html={markdownify(title)}
            class="h3 mb-8 text-center text-4xl font-bold"
          />
          <div class="content text-center">
            <Content />
          </div>
          <div class="text-center mt-6">
            <a
              href={`${basePath}contact/`}
              class="btn btn-primary text-white py-2 px-4 inline-block"
            >
              联系我们
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section pt-0">
    <div class="container">
      <h3 class="page-heading mb-20">{what_i_do.title}</h3>
      <div class="row justify-center gy-4 text-center">
        {what_i_do.items.map((item) => (
          <div class="lg:col-4 md:col-6">
            <i class="icon fa-3x text-primary mb-4" />
            <h4 class="text-dark font-weight-700 mb-3">{item.title}</h4>
            <p>{item.description}</p>
          </div>
        ))}
      </div>
    </div>
  </section>
</Base>
